.App {
  font-family: sans-serif;
  text-align: center;
}

.main {
  width: 100%;
  display: grid;
  grid:
    "header header header" 1fr
    ". container ." auto
    / 0.2fr 1fr 0.2fr;
  gap: 8px;
  grid-auto-flow: row dense;
}

.header {
  grid-area: header;
}

.container {
  grid-area: container;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sectionBody {
  display: grid;
  grid: ". body ." 1fr / 0.2fr 1fr 0.2fr;
  gap: 8px;
}

.bodyInfo {
  grid-area: body;
}

.recomendationMovies {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 961px) {
  .main {
    display: flex;
    flex-direction: column;
  }

  .sectionBody {
    display: flex;
    flex-direction: column;
  }
}
